body{
    background-color: bisque;
}

.container{
    text-align: center;
    border-style: outset;
    height: 700px;
    width: 1200px;

}

.guess_number{
    padding: 15px 90px;
    margin: 50px;
    background-color: transparent;
}