body{
    background-color: bisque;
}

.container{
    text-align: center;
    border-style: outset;
    height: 400px;
    width: 500px;
    margin-left: 400px;

}

.guess_number{
    padding: 15px 90px;
    margin: 50px;
    background-color: transparent;
}

.btn{
    height: 40px;
    width: 15%;
    background-color: transparent;
}

.messeage{
    font-size: 20px;
    margin: 10px;
}