body{
    background-color: bisque;
}

.container{
    text-align: center;
    border-style: outset;
    height: 400px;
    width: 500px;

}

.guess_number{
    padding: 15px 90px;
    margin: 50px;
    background-color: transparent;
}

.btn{
    height: 40px;
    width: 10%;
    background-color: transparent;
}